<!DOCTYPE html>
<html>  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>VueJs</title>
    <link rel="stylesheet" href="styles.css">
    
  </head>
  <body>
      <div id="vue-app">
        <h1>Looping through lists</h1>
      <ul>
        <li v-for="character in characters">{{character}}</li>
      </ul>
      <ul>
        <li v-for="fruit in fruits">{{fruit.name}}-{{fruit.color}}</li>
      </ul>
      <template v-for="(fruit,index) in fruits">
        <h3>{{index}}. {{fruit.name}}-{{fruit.color}}</h3>
      </template>
      <template v-for="fruit in fruits">
        <div v-for="(val,key) in fruit"> {{key}}-{{val}}</div>
      </template>
      </div>
  <script src="app.js"></script>
  </body>
</html>